@CHARSET "UTF-8";
@font-face {font-family: "Montserrat"; src: url("../fonts/Montserrat-Regular.ttf");}
@font-face {font-family: "Droid Serif"; src: url("../fonts/DroidSerif.ttf");}

#header {
	background: linear-gradient(to right, #FFFFFF 0%, #007700 15%, #007700 85%, #FFFFFF 100%);
}
#header div {
	background: linear-gradient(to right, #FFFFFF 0%, #99F295 15%, #99F295 85%, #FFFFFF 100%);
}
h1 {
	position: relative;
	top: -0.15625vw;
	font: 700 3.125vw "Montserrat";
	color: #444444;
}
h2 a {
	font: 700 2.34375vw "Montserrat";
	color: #444444;
}

#page_content {
	font: 400 1.09375vw "Droid Serif";
	color: #444444;
}

#navbar {
    background-color: #007700;
}
#navbar li {
	font: 400 1.25vw "Droid Serif";
}

.hor_div {
	height: 54.6875vw;
	margin: 3.125vw 0px;
}
.hor_div div {
	display: inline-block;
}

img {
	width: 39.0625vw; height: 39.0625vw;
}
iframe {
	width: 39.0625vw; height: 39.0625vw;
	border: 0px;
}