@CHARSET "UTF-8";
@font-face {font-family: "Oswald"; src: url("../fonts/Oswald-Regular.ttf");}
@font-face {font-family: "Raleway"; src: url("../fonts/Raleway-Regular.ttf");}

h1 {
	font: 400 40px "Oswald";
	color: #444444;
}

#page_content {
	font: 400 14px "Raleway";
	color: #000000;
}

#navbar {
    background-color: #000FE0;
}
#navbar li {
	font: 400 16px "Raleway";
}