@CHARSET "UTF-8";
@font-face {font-family: "Oswald"; src: url("../fonts/Oswald-Regular.ttf");}
@font-face {font-family: "Raleway"; src: url("../fonts/Raleway-Regular.ttf");}

#header {
	background: linear-gradient(to right, #FFFFFF 0%, #000FE0 15%, #000FE0 85%, #FFFFFF 100%);
}
#header div {
	background: linear-gradient(to right, #FFFFFF 0%, #C4C8FF 15%, #C4C8FF 85%, #FFFFFF 100%);
}
h1 {
	position: relative;
	top: -0.390625vw;
	font: 400 3.125vw "Oswald";
	color: #444444;
}

#page_content {
	margin-top: 3.125vw;
	font: 400 1.09375vw "Raleway";
	color: #000000;
}

#navbar {
    background-color: #000FE0;
}
#navbar li {
	font: 400 1.25vw "Raleway";
}

iframe {
	width: 60vw; height: 50vh;
	border: 0px;
}
