@CHARSET "UTF-8";
@font-face {font-family: "Raleway"; src: url("../fonts/Raleway-Regular.ttf");}

/* Navigatiebalk */
#navbar {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 3;
	width: 100%;
	text-align: center;
}
#navbar ul {
	margin: auto;
	padding: 0px;
	height: auto;
	list-style-type: none;
}
#navbar li {
	padding: 0px;
	display: inline-block;
}
#navbar li:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
}
#navbar a {
	padding: 0.78125vw;
	width: 11.71875vw;
	height: 50%;
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
}

/* Logo BierHier */
#logobierhier {
	position: absolute;
	right: -3.5vw;
	top: 2.5vw;
	width: 25vw;
	height: 15.251359vw;
}

/* Koppen */
#header {
	margin-top: 1.5625vw;
	position: relative;
	left: calc(50vw - 33.203125vw);
	top: 3.90625vw;
	width: 62.5vw;
	height: 4.296875vw;
}
#header div {
	position: relative;
	top: 0.390625vw;
	width: 62.5vw;
	height: 3.515625vw;
}
h1 {
	text-align: center;
}

/* Inhoud pagina's */
#page_content {
	position: relative;
	top: 3.90625vw;
	width: 100%;
	min-height: 80vh;
	text-align: center;
}
.hor_div {
	margin: 5.859375vw 0px;
}

/* Links */
.button {
	margin-top: 0.78125wv;
	width: 19.53125vw;
	height: 2.734375vw;
}
.button div {
	padding: 0px 3.90625vw;
	width: 11.71875vw;
	height: 1.953125vw;
	position: relative;
	top: 0.390625vw;
}

/* Footer */
#footer {
	margin-top: 9.765625vw;
	position: relative;
	left: 0px;
	z-index: 3;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #444444;
}
#footer ul {
	margin: auto;
	padding: 0px;
	width: 75%;
	height: 1.5625vw;
	list-style-type: none;
}
#footer li {
	margin: 0px 1.5625vw;
	position: relative;
	top: 0.390625vw;
	display: inline;
}
#footer a {
	text-decoration: none;
	font: 400 1.09375vw "Raleway";
	color: #FFFFFF;
}
#footer a:hover {
	color: #AAAAAA;
}
#copyright {
	padding: 0.78125vw 0px 0.390625vw 8vw;
	position: relative;
	left: 5vw;
	bottom: 0.390625vw;
	width: 80vw;
	font: 400 0.625vw "Raleway";
	color: #FFFFFF;
}
#logoDNCB {
	margin: 0px;
	position: relative;
	left: 1vw;
	bottom: 2.4vw;
	width: 7.8125vw;
	height: 2.604167vw;
	float: right;
	display: inline-block;
}