@CHARSET "UTF-8";
@font-face {font-family: "Bevan"; src: url("../fonts/Bevan.ttf");}
@font-face {font-family: "Alegreya Sans"; src: url("../fonts/AlegreyaSans-Regular.ttf");}

h1 {
	font: 400 40px Bevan;
	color: #CC0000;
}

#page_content {
	font: 400 14px Alegreya Sans;
	color: #444444;
}

#navbar {
	background-color: #000000;
}
#navbar li {
	font: 400 16px Alegreya Sans;
}