@CHARSET "UTF-8";
@font-face {font-family: "Russo One"; src: url("../fonts/Russo_One.ttf");}
@font-face {font-family: "Varela"; src: url("../fonts/Varela-Regular.otf");}

body {
	background-color: #FFF39C;
}

/* Navigatiebalk */
#navbar {
    background-color: #9C4600;
}
#navbar li {
	font: 400 1.25vw "Varela";
}

/* Koppen */
#header {
	background: linear-gradient(to right, #FFF39C 0%, #9C4600 15%, #9C4600 85%, #FFF39C 100%);
}
#header div {
	background: linear-gradient(to right, #FFF39C 0%, #EBBD88 15%, #EBBD88 85%, #FFF39C 100%);
}
h1 {
	position: relative;
	top: -0.078125vw;
	font: 400 3.125vw "Russo One";
	color: #000000;
}
h2 {
	font: 400 2.34375vw "Russo One";
	text-decoration: underline; 
	color: #000000;
}

/* Inhoud pagina */
#page_content {
	font: 400 1.09375vw "Varela";
	color: #000000;
}

/* Plaatjes & tekst */
.hor_div div div {
	padding: 0px;
	width: 29.296875vw;
	display: inline-block;
}
.hor_div img {
	margin-left: 5vw;
	border-radius: 3.90625vw;
	height: 23.4375vw;
}
.hor_div div {
	padding-left: 10vw;
	text-align: left;
}