@CHARSET "UTF-8";
@font-face {font-family: "Russo One"; src: url("../fonts/Russo_One.ttf");}
@font-face {font-family: "Varela"; src: url("../fonts/Varela-Regular.otf");}

body {
	background-color: #FFF39C;
}

#header {
	background: linear-gradient(to right, #FFF39C 0%, #9C4600 15%, #9C4600 85%, #FFF39C 100%);
}
#header div {
	background: linear-gradient(to right, #FFF39C 0%, #EBBD88 15%, #EBBD88 85%, #FFF39C 100%);
}
h1 {
	position: relative;
	top: -1px;
	font: 400 40px "Russo One";
	color: #000000;
}
h2 {
	font: 400 30px "Russo One";
	text-decoration: underline; 
	color: #000000;
}

#page_content {
	font: 400 14px "Varela";
	color: #000000;
}

#navbar {
    background-color: #9C4600;
}
#navbar li {
	font: 400 16px "Varela";
}

.hor_div {
	margin: 40px 0px;
}
.hor_div div div {
	padding: 0px;
	width: 375px;
	display: inline-block;
}
.hor_div img {
	margin-left: 5vw;
	border-radius: 50px;
}
.hor_div div {
	padding-left: 10vw;
	text-align: left;
}