@CHARSET "UTF-8";
@font-face {font-family: "Russo One"; src: url("../fonts/Russo_One.ttf");}
@font-face {font-family: "Varela"; src: url("../fonts/Varela-Regular.otf");}

body {
	background-color: #FFF39C;
}

h1 {
	font: 400 40px Russo One;
	color: #000000;
}

#page_content {
	font: 400 14px Varela;
	color: #000000;
}

#navbar {
    background-color: #9C4600;
}
#navbar li {
	font: 400 16px Varela;
}