@CHARSET "UTF-8";
@font-face {font-family: "Bevan"; src: url("../fonts/Bevan.ttf");}
@font-face {font-family: "Josefin Sans"; src: url("../fonts/JosefinSans-Regular.ttf");}

h1 {
	font: 400 40px Bevan;
	color: #000FE0;
}

#page_content {
	font: 400 14px Josefin Sans;
	color: #000000;
}

#navbar {
    background-color: #CC0000;
}
#navbar li {
	font: 400 16px Josefin Sans;
}