@CHARSET "UTF-8";
@font-face {font-family: "Archivo Black"; src: url("../fonts/ArchivoBlack.otf");}
@font-face {font-family: "Josefin Sans"; src: url("../fonts/JosefinSans-Regular.ttf");}

#header {
	background: linear-gradient(to right, #FFFFFF 0%, #CC0000 15%, #CC0000 85%, #FFFFFF 100%);
}
#header div {
	background: linear-gradient(to right, #FFFFFF 0%, #FFAEAE 15%, #FFAEAE 85%, #FFFFFF 100%);
}
h1 {
	position: relative;
	top: -7px;
	font: 400 40px "Archivo Black";
	color: #000FE0;
}
h2 a {
	font: 400 30px "Josefin Sans";
	color: #000FE0;
}

#page_content {
	font: 400 14px "Josefin Sans";
	color: #000000;
}

#navbar {
    background-color: #CC0000;
}
#navbar li {
	font: 400 16px "Josefin Sans";
}

.hor_div {
	height: 500px;
	margin: 40px 0px;
}
.hor_div div {
	display: inline-block;
}
.hor_div a {
	display: block;
}
.hor_div img {
	border-radius: 50px;
}
.order {
	margin-top: 10px;
	width: 250px; height: 35px;
	background: linear-gradient(to right, #FFFFFF 0%, #CC0000 25%, #CC0000 75%, #FFFFFF 100%);
}
.order div {
	padding: 0px 50px;
	width: 150px; height: 25px;
	position: relative;
	top: 5px;
	font: 400 20px "Josefin Sans";
	color: #000000;
	background: linear-gradient(to right, #FFFFFF 0%, #FF8080 25%, #FF8080 75%, #FFFFFF 100%);
}