@CHARSET "UTF-8";
@font-face {font-family: "Bree Serif"; src: url("../fonts/BreeSerif-Regular.otf");}
@font-face {font-family: "Josefin Sans"; src: url("../fonts/JosefinSans-Regular.ttf");}

h1 {
	font: 400 40px Bree Serif;
	color: #000FE0;
}

#page_content {
	font: 400 14px Josefin Sans;
	color: #444444;
}

#navbar {
    background-color: #CC0000;
}
#navbar li {
	font: 400 16px Josefin Sans;
}